@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header {
    margin-top: 63px;
}

.container {
    max-width: calc(1280px + 20px);
    margin: 0 auto;
    padding: 0 10px;
}

.header__logo {
    font-size: 80px;
    line-height: 94px;
    text-align: center;
}

.header__logo span {
    color: #4BCAFF;
}

.menu__list {
    margin-top: 40px;
    margin-bottom: 49px;
    background-color: #35444F;
    color: #fff;
    display: flex;
    justify-content: center;
}

.menu__item {
    padding: 24px 40px 18px;
    align-items: center;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    transition: all 0.3s;
}

.menu__item:hover {
    background-color: #222F3A;
}

.preview {
    display: flex;
    justify-content: space-between;
}

.preview__info {
    flex-basis: 344px;
}

.preview__list {
    border: 1px solid#000;
}

.preview__item {
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    transition: all 0.4s;
}

.preview__item:hover {
    font-size: 30px;
    padding-right: 20px;
    background-color: #DBDBDB;
    color: #000;
}

.preview__link {
    display: block;
    padding: 25px 0px 30px 44px;
}

.wrapper {
    flex-basis: 885px;
}

.banner__box {
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid#000;
    margin-bottom: 37px;
    overflow: hidden;
}

.banner__img {
    transition: transform 0.6s;
}

.banner__box:hover .banner__img{
        transform: scale(1.3);
    
}

.wrapper__info {
    margin-bottom: 34px;
}

.wrapper__info,
.wrapper__text {
    font-size: 18px;
    line-height: 24px;
}

.wrapper__text {
    margin-bottom: 54px;
}

.footer {
    margin-bottom: 30px;

}

.footer__inner {
    background-color: #63696E7A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.footer__nav {
    padding: 20px 0;
}

.footer__menu {
    display: flex;

}

.footer__item {
    text-align: center;
    padding-right: 25px;
    font-size: 28px;
    line-height: 28px;
    transition: all 0.3s;
}

.footer__item:last-child {
    padding-right: 0;
}

.footer__item:hover {
    color: #3181A6;
    text-decoration: underline;
}

.copyright {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
}