* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 1.2;
}


.container {
    max-width: calc(1145px + 20px);
    margin: 0 auto;
    padding: 0 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.0001);
    font-size: 18px;
    letter-spacing: 2.7px;
}

.menu {
    text-align: center;
}

.menu-item {
    display: inline-block;
    list-style-type: none;
    margin-right: 72px;
}

.menu-item:last-child{
    margin-right: 0;
}

.menu-link {
    font-size: 18px;
    display: inline-block;
    padding: 25px 0;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-item+.menu-item {
    padding-left: 50px;
}

.banner {
    background-image: url("../images/banner_bg.jpg");
    height: 789px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.info-title {
    color: #373737;
    font-size: 22px;
    letter-spacing: 3.29px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}

.text {
    margin-bottom: 28px;
}

.text,
.sub-text {
    color:#373737;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.sub-text {
    margin-bottom: 66px;
}

.info-wrap {
    text-align: center;
}

.info-btn {
    display: inline-block;
    font-size: 12px;
    padding: 18px 43px;
    background-color: #FF0000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 82px;
}

.footer .container{
    max-width: 1070px;
}

.footer-inner {
    text-align: right;
    margin-bottom: 29px;
}

.footer-link {
    font-size: 16px;
    text-decoration: none;
    color:#373737;
}